.card{
    background-image: url(./Assets/Photos/backCards.png), url(./Assets/Photos/frontCards.png);
    background-repeat: no-repeat; 
    background-position: right top, 142% 1%;
    /* height: 700px; */
}

@media (max-width: 768px) { 
    .card{
        background-image: url(./Assets/Photos/backCards.png);
        background-repeat: no-repeat; 
        background-position: right top, -170% 10%;
        /* url(./Assets/Photos/frontCards.png) */
    }
 }

 .button-1 {
    background-color: transparent;
    border: 3px solid #fc00d6;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #fc00d5;
  }
  .button-1:hover {
    box-shadow: 0 0 10px 0 #fc00d5 inset, 0 0 20px 2px #fc00d5;
    border: 3px solid #fc00d5;
  }

  button:hover{
    box-shadow: 0 0 10px 0 #fc00d5 inset, 0 0 20px 2px #fc00d5;
    border: 3px solid #fc00d5;
  }

.myimage{
  width: 1800px;
  height: 400px;
}

.diamond{
  width: 400px;
  height: 400px;
  
}

.btn-pink {
  background-color: black;
  width: fit-content;
  color: white;
  /* padding: 0.8rem 2.3rem; */
  box-shadow: 5px 5px 7px 0px #f637ec;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 100;
  position: relative;
  z-index: 1;
}


.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #f637ec;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink2:hover::before {
  transform: scaleX(1);
}
.btn-pink {
  background-color: black;
  width: fit-content;
  color: white;
  /* padding: 0.8rem 2.3rem; */
  box-shadow: 5px 5px 7px 0px #f637ec;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 100;
  position: relative;
  z-index: 1;
}

.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #f637ec;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink:hover::before {
  transform: scaleX(1);
}

